.headerWrap {
  position: fixed;
  width: 100vw;
  max-width: 1920px;
  top: 0;
  z-index: 5;
}

.header {
  border-bottom: 2px solid var(--white-50);
  background: var(--purple-light-4);
  padding: 24px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logoLink {
  display: flex;
}

.headerContent {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.btnLinks {
  display: flex;
  align-items: center;
  gap: 24px;
}

.loginLink {
  padding: 16px 32px;
  border-radius: 50px;
  border: 1px solid var(--black);
  background: var(--white-10);
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
  width: 141px;
  text-align: center;
}

.loginLink:hover {
  border-color: var(--purple-main);
  color: var(--purple-main);
}

.joinLink {
  padding: 16px 32px;
  border-radius: 50px;
  border: 1px solid var(--black);
  background: var(--purple-main);
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
}

.joinLink:hover {
  background: var(--purple-light-1);
  border-color: transparent;
}

.mobileMenuBtn {
  width: 54px;
  height: 54px;
  border-radius: 50px;
  border: 2px solid var(--white-50);
  background: var(--white-50, rgba(252, 250, 255, 0.5));
  display: none;
}

.blur {
  background: rgba(86, 3, 169, 0.2);
  backdrop-filter: blur(6px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.mobileLogo {
  display: none;
}

@media (max-width: 1280px) {
  .header {
    padding: 24px 80px;
  }
}

@media (max-width: 1024px) {
  .mobileMenuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    padding: 24px 40px;
  }
}

@media (max-width: 700px) {
  .btnLinks {
    display: none;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 24px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 16px;
  }

  .mobileLogo {
    display: block;
  }

  .logo {
    display: none;
  }

  .mobileMenuBtn {
    width: 40px;
    height: 40px;
  }

  .mobileMenuBtn svg {
    width: 23px;
    height: 23px;
  }
}
