.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navLink {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
}

.navLink:hover {
  opacity: .8;
}

@media (max-width: 1024px) {
  .navigation {
    display: none;
  }
}