.pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.content {
  border-radius: 8px;
  background: var(--white);
  width: 116px;
  padding: 4px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cell {
  background: #ddcdee;
  width: 24px;
  height: 4px;
  border-radius: 8px;
  transition: all 0.3s;
}

.active {
  background: var(--purple-main);
}

@media (max-width: 470px) {
  .pagination {
    display: none;
  }
}
