.mobileMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 661px;
  background: var(--white);
  padding: 40px 40px 60px 40px;
  height: 105dvh;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
  display: none;
  z-index: 4;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.closeBtn {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.btnLinks {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.loginLink {
  width: 100%;
  padding: 16px 32px;
  border-radius: 50px;
  border: 1px solid var(--black);
  background: var(--white-10);

  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
}

.joinLink {
  width: 100%;
  padding: 16px 32px;
  border-radius: 50px;
  border: 1px solid var(--black);
  background: var(--purple-main);
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

.showMenu {
  transform: translateX(0);
}

.hideMenu {
  transform: translateX(100%);
}

@media (max-width: 1024px) {
  .mobileMenu {
    display: flex;
  }
}

@media (max-width: 660px) {
  .mobileMenu {
    width: 375px;
    padding: 40px 24px 60px 24px;
  }
}
