/* page1 */

.page1 {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
}

.page1__body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 800px;
  color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.page1__body::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 120%;
  background-color: #fff;
  background: rgb(247, 221, 131);
  background: linear-gradient(155deg, rgba(0, 0, 0, 0.933) 0%, rgb(0, 0, 0) 43%, rgba(0, 0, 0, 0) 100%);
  border-radius: 10px;
  opacity: 0.2;
  filter: blur(20px);
  z-index: 0;
}

.page1__btns {
  display: flex;
  gap: 24px;
  transform: translateY(50%);
  opacity: 0;
  transition: all .8s;
}

.page1__p {
  transform: translateY(50%);
  opacity: 0;
  transition: all .8s;
}

.page1__body * {
  position: relative;
  z-index: 2;
}

@media(max-width:767px) {
  .h1 {
    font-size: 24px;
  }

  .page1__btns {
    flex-direction: column;
  }
}