.navBtns {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn {
  background: none;
  border: none;
}

.link {
  gap: 8px;
  color: var(--purple-main);
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}

.nextBtn svg {
  transform: rotate(180deg);
}
